.emailCard {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
  }
  
  .mainContainer {
    /* background: linear-gradient(135deg, #ece9e6, #ffffff); */
    background-color: #ffffff; 
    padding: 30px;
  }
  
  .button {
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #4b82d6;
  }
  
  @media (max-width: 768px) {
    .emailCard {
      width: 90%;
    }
  }